<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inwitacja - twoje nowoczesne zaproszenie.</title>
	
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css') }}" />
    <!-- Less -->
	{% stylesheets filter='less' output='css/panel.css'
		'@PanelBundle/Resources/public/less/main.less'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
	{% endstylesheets %}
    {% stylesheets '@PanelBundle/Resources/public/css/*'%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
    {% block body %}{% endblock %}
	
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% javascripts
        '@PanelBundle/Resources/public/js/general.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 
    {% block javascripts %}{% endblock %}
</body>
</html>