<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inwitacja - twoje nowoczesne zaproszenie.</title>
	
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
	{% stylesheets filter='less' output='css/panel.css'
		'@PanelBundle/Resources/public/less/main.less'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
	{% endstylesheets %}
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
	{% include 'PanelBundle::navbar.html.twig' %}
	{% include 'PanelBundle::flashbag.html.twig' %}
	{% block body %}{% endblock %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% block javascripts %}{% endblock %}
    {% javascripts '@PanelBundle/Resources/public/js/*'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>