<tr data-index="{{form.vars.name}}">
    <td>
        {{ form_widget(form.name) }}
        {{ form_widget(form.innerOrder, { 'attr': {'class': 'inputInnerOrder'} }) }}
        {{ form_errors(form.name) }}
    </td>
    <td>
        {{ form_errors(form.price) }}
        {{ form_widget(form.price) }}
    </td>
    <td>
        <a class="text-primary holder move">
            <i class="fa fa-arrows" aria-hidden="true"></i>
        </a>
        <a class="text-danger pull-right remove clickable"  data-message="removePersonGroup">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </td>
</tr>