<tr data-index="{{form.vars.name}}">
    <td>
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </td>
    <td>
        {{ form_errors(form.price) }}
        {{ form_widget(form.price) }}
    </td>
    <td>
        {{ form_errors(form.color) }}
        <div id="cp2" class="input-group colorpicker-component">
            {{ form_widget(form.color, { 'attr': {'class': 'colorpicker'} }) }}
            <span class="input-group-addon"><i></i></span>
        </div>
    </td>
    <td>
        <a class="text-danger pull-right remove clickable">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </td>
</tr>