{% extends 'PanelBundle::base.html.twig' %}
{% block title %}{{Event.name}}{{'eventConfig.title'|trans}}{% endblock %}

{% block javascripts %}
    {% javascripts
        '@BootstrapColorPickerBundle/Resources/public/js/bootstrap-colorpicker.min.js'
        '@PanelBundle/Resources/public/js/eventConfig.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}    
    <script type="text/javascript">
        var translations = {
           'removeInvitationGroup' : '{{ 'eventConfig.form.invitationGroup.removeQuestion' | trans }}',
           'removePersonGroup' : '{{ 'eventConfig.form.personGroup.removeQuestion' | trans }}',
           'removeParameter' : '{{ 'eventConfig.form.parameter.removeQuestion' | trans }}',
        }
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
      'bundles/bootstrapcolorpicker/css/bootstrap-colorpicker.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form, {'action': path('panel_event_config_save', {'slug': app.request.get('slug')}) }) }}
        <div class='row'>
            <button type="submit" class="btn btn-primary btn-lg right">
                <i class="fa fa-floppy-o"></i> {{'invitationEditor.form.save'|trans}}
            </button>
            <hr/>
        </div>
        <div class='row'>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#invitationGroups" aria-controls="invitationGroups" role="tab" data-toggle="tab">{{'eventConfig.tabs.invitationGroups'|trans}}</a></li>
            <li role="presentation"><a href="#personGroups" aria-controls="personGroups" role="tab" data-toggle="tab">{{'eventConfig.tabs.personGroups'|trans}}</a></li>
            <li role="presentation"><a href="#parameters" aria-controls="parameters" role="tab" data-toggle="tab">{{'eventConfig.tabs.parameters'|trans}}</a></li>
            <li role="presentation"><a href="#event" aria-controls="event" role="tab" data-toggle="tab">{{'eventConfig.tabs.event'|trans}}</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="invitationGroups">
                {% include 'PanelBundle:EventConfig:tabs/tabInvitationGroups.html.twig' with {'form' : form.children.invitationGroup} %}
            </div>
            <div role="tabpanel" class="tab-pane" id="personGroups">
                {% include 'PanelBundle:EventConfig:tabs/tabPersonGroups.html.twig' with {'form' : form.children.personGroup} %}
            </div>
            <div role="tabpanel" class="tab-pane" id="parameters">
                {% include 'PanelBundle:EventConfig:tabs/tabParameters.html.twig' with {'form' : form.children.parameter}  %}
            </div>
            <div role="tabpanel" class="tab-pane" id="event">
                {% include 'PanelBundle:EventConfig:tabs/tabEvent.html.twig' with {'form' : form}  %}
            </div>
          </div>

        </div>
    </div>
    {{ form_end(form) }}
    {% include 'PanelBundle:EventConfig:typeConfigDialog.html.twig' %}
{% endblock %}
