{% extends 'PanelBundle:PanelEvent:event.html.twig' %}
{% block title %}{{News.title}}{{'news.edit.title'|trans}}{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
