<tr data-index="{{form.vars.name}}">
    <td>
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </td>
    <td>
        {{ form_errors(form.priceModifier) }}
        {% if prototype is defined %}
            {{ form_widget(form.priceModifier, {'value':0}) }}
        {% else %}
            {{ form_widget(form.priceModifier) }}
        {% endif %}
    </td>
    <td>
        {{ form_errors(form.limit) }}
        {% if prototype is defined %}
            {{ form_widget(form.limit, {'value':0}) }}
        {% else %}
            {{ form_widget(form.limit) }}
        {% endif %}
    </td>
    <td>
        {{ form_errors(form.default) }}
        {{ form_widget(form.default, { 'attr': {'class': 'is_default'} }) }}
    </td>
    <td>
        <a class="text-primary holder move">
            <i class="fa fa-arrows" aria-hidden="true"></i>
        </a>
        <a class="text-danger pull-right remove clickable">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </td>
</tr>