<h4>{{'generator.excelList.title'|trans}}</h4>
        {{ form_start(form, {
            'action' : path('panel_event_generator_XLS_list', {'slug': Event.urlName, 'filename': 'generator.excelList.filename'|trans, '_format' : 'xls'}),
            'attr' : {
                'target' : '_blank'
            }
        }) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success btn-update btn-add-card">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{'generator.excelList.button'|trans}}
         </button>
        {{ form_end(form) }}
