<h4>{{'generator.stickers.title'|trans}}</h4>
        {{ form_start(form, {
            'action' : path('panel_event_generator_PDF_stickers', {'slug': Event.urlName}),
            'attr' : {
                'target' : '_blank'
            }
        }) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success btn-update btn-add-card">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{'generator.stickers.button'|trans}}
         </button>
        {{ form_end(form) }}
