

<div class="col-lg-12 card">
          <div class="thumbnail">
              <div class="caption">
                <div class='col-lg-12'>
                    {% if Event.checkPermission('event.remove') %}
                        <a class="text-danger pull-right event-remover" href="{{ path('panel_event_manager_delete', {'slug': Event.urlName}) }}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> {{'eventManager.card.remove'|trans}}
                        </a>
                    {% endif %}
                </div>
                <div class='col-lg-12 well well-add-card'>
                    <h4>{{Event.name}}</h4>
                </div>
                <div class='col-lg-12'>
                    <p>{{Event.description}}</p>
                    {% if not Event.place is null %}
                        <p><b>{{'eventManager.card.place'|trans}}:</b> {{Event.place}}</p>
                    {% endif %}
                    <p><b>{{'eventManager.card.date'|trans}}:</b> {{Event.date|date('Y-m-d')}}</p>
                </div>
                {% if Event.checkPermission('event.view') %}
                    <a href="{{ path('panel_event_dashboard', {'slug': Event.urlName}) }}" type="button" class="btn btn-primary btn-update btn-add-card">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        {{'eventManager.card.edit'|trans}}
                    </a>
                    <a href="{{ path('invitation_homepage', {'slug': Event.urlName}) }}" type="button" target="_blank" class="btn btn-success btn-update btn-add-card">
                        {{'eventManager.card.goToEvent'|trans}}
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
          </div>
        </div>