<h4>{{'eventDashboard.widget.personStats.title' | trans}}</h4>
<ul>
    <li>
        {{'eventDashboard.widget.personStats.present' | trans}}:
        {{PersonStats.1}}
    </li>
    <li>
        {{'eventDashboard.widget.personStats.absent' | trans}}:
        {{PersonStats.2}}
    </li>
    <li>
        {{'eventDashboard.widget.personStats.undefined' | trans}}:
        {{PersonStats.0}}
    </li>
</ul>